@font-face {
  font-family: 'iconos';
  src: url("../fonts/icomoon.eot?-lqx5yj");
  src: url("../fonts/icomoon.eot?#iefix-lqx5yj") format('embedded-opentype'), url("../fonts/icomoon.ttf?-lqx5yj") format('truetype'), url("../fonts/icomoon.woff?-lqx5yj") format('woff'), url("../fonts/icomoon.svg?-lqx5yj#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
a {
  color: #dd4f24;
}
body {
  background: #e8e8e8;
  color: #444;
  font-family: Arial;
  font-size: 16px;
  transition: font-size 1s;
}
form {
  padding: 0.8em;
  display: none;
}
form label {
  display: inline-block;
  width: 60px;
}
footer {
  background: #dd4f24;
  color: rgba(255,255,255,0.7);
  text-align: center;
  padding: 1em 0em;
  width: 100%;
}
footer h3 {
  font-size: 14px;
  font-weight: normal;
}
footer h3 strong {
  display: block;
}
footer h3 .crea {
  font-size: 12px;
}
footer h3 .crea:before,
footer h3 .crea:after {
  content: " - ";
}
header {
  position: relative;
  background: #444;
  color: #fff;
  padding: 0.5em;
  overflow: hidden;
  box-shadow: 0 5px 0 rgba(0,0,0,0.2);
  z-index: 1;
}
header .logo {
  border-right: 1px solid #22bce0;
  width: 60px;
  float: left;
}
header .logo img {
  width: 52px;
}
header .contenido {
  margin: 0 80px 0 70px;
}
header .contenido .filtro {
  color: #22bce0;
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
  font-size: 14px;
}
header .contenido .publicar {
  font-family: "iconos";
  background: #dd4f24;
  color: #fff;
  font-style: italic;
  padding: 0.1em 0.5em;
  border-radius: 2px;
  text-decoration: none;
  text-shadow: 2px 2px 0 #808080;
  float: right;
  margin: -0.2px 1em 0 0;
}
header .contenido .publicar:before {
  content: "\e600";
  color: #fff;
}
header .contenido .sizer {
  text-decoration: none;
}
header .contenido .titulo {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  padding: 0;
}
header .usuario {
  right: 10px;
  top: 10px;
  position: absolute;
}
header .usuario .avatar {
  margin: -3px 1em 0 0;
  position: relative;
  z-index: 2;
}
header .usuario .avatar img {
  width: 60px;
  border-radius: 50%;
}
header .usuario .flecha {
  top: 15px;
  right: 0;
  padding: 2px;
  position: absolute;
  display: block;
  background: #dd4f24;
  color: #fff;
  text-align: right;
  width: 50%;
  border-radius: 0.4em;
  text-decoration: none;
}
header .usuario .flecha:after {
  font-family: "iconos";
  content: "\e601";
  font-size: 10px;
  vertical-align: center;
  padding: 0.1em 0.2em 0.1em 0.2em;
}
nav {
  background: #22bce0;
  border-left: 15px solid #fff;
  position: relative;
}
nav:before {
  content: "";
  border-left: 7px solid #fff;
  border-bottom: 20px solid #22bce0;
  border-top: 20px solid #22bce0;
  position: absolute;
}
nav .menu {
  height: 40px;
  line-height: 40px;
  margin: 0px;
  overflow-x: auto;
  white-space: nowrap;
  padding-left: 10px;
}
nav .menu li {
  display: inline-block;
}
nav .menu li a {
  color: #fff;
  display: block;
  margin: 0 0.5em;
  text-decoration: none;
  padding: 0 0.2em;
}
.posts {
  padding: 0.5em;
}
.posts .post {
  background: #fff;
  color: #7a7a7a;
  box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  border-radius: 0 0 0.5em 0.5em;
  margin-bottom: 1em;
}
.posts .post .acciones {
  border-top: 3px solid #22bce0;
  padding: 0.5em;
  overflow: hidden;
}
.posts .post .acciones .datos {
  float: right;
}
.posts .post .acciones .datos .comentarios {
  vertical-align: center;
  background: #7a7a7a;
  color: #fff;
  padding: 5px 8px;
  margin: 0 1em 0 0;
  text-decoration: none;
  border-radius: 3px;
  font-size: 14px;
}
.posts .post .acciones .datos .estrella {
  text-decoration: none;
  font-family: "iconos";
  color: #ffc800;
}
.posts .post .acciones .datos .estrella:before {
  content: "\e601";
}
.posts .post .acciones .votos {
  float: left;
}
.posts .post .acciones .votos .down,
.posts .post .acciones .votos .up {
  text-decoration: none;
  font-family: "iconos";
}
.posts .post .acciones .votos .down {
  color: #f00;
}
.posts .post .acciones .votos .down:before {
  content: "\e603";
}
.posts .post .acciones .votos .up {
  color: #008000;
}
.posts .post .acciones .votos .up:before {
  content: "\e602";
}
.posts .post .acciones .votos .total {
  font-size: 14px;
  display: inline-block;
  vertical-align: center;
  margin: -0.2em 0.1em 0 0.1em;
}
.posts .post .descripcion {
  color: #7a7a7a;
}
.posts .post .descripcion .detalles {
  height: 160px;
  margin-left: 130px;
}
.posts .post .descripcion .detalles .titulo {
  color: #444;
  font-size: 1.1em;
  font-style: italic;
  margin: 0;
  padding: 0.5em 0.5em 0 0;
}
.posts .post .descripcion .detalles .autor {
  margin: 0.5em 0 2em 0;
}
.posts .post .descripcion .detalles .tag {
  background: #22bce0;
  color: #fff;
  text-decoration: none;
  border-radius: 0.2em;
  padding: 0.2em 0.5em;
}
.posts .post .descripcion .detalles .fecha {
  float: right;
  margin: 0 1em 0 0;
}
.posts .post .descripcion .imagen {
  float: left;
  margin: 0;
}
.posts .post .descripcion .imagen img {
  height: 160px;
  vertical-align: top;
  width: 120px;
}
@media screen and (min-width: 768px) {
  header .contenido .publicar {
    position: relative;
    padding-left: 3em;
  }
  header .contenido .publicar:before {
    left: 0;
    top: -10px;
    font-size: 2.5em;
    position: absolute;
  }
  .posts .post {
    display: inline-block;
    width: 48%;
    vertical-align: top;
  }
  .posts .post:nth-child(odd) {
    margin-left: 1%;
    margin-right: 1.5%;
  }
}
